<h1>User Registration Form</h1>
<br />
<form class="ml-4" [formGroup]="userForm" (ngSubmit)="saveData()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="gender_Male"
            value="male"
            formControlName="gender"
          />
          <label class="form-check-label" for="gender_Male">Male</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="gender_Female"
            value="female"
            formControlName="gender"
          />
          <label class="form-check-label" for="gender_Female">Female</label>
        </div>

        <div class="form-group mt-2">
          <label for="paymentMode">Payment Mode</label>
          <select
            class="form-control"
            id="paymentMode"
            formControlName="paymentType"
          >
            <option>Monthly</option>
            <option>Quarterly</option>
            <option>Yearly</option>
          </select>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="enable_notification"
            name="notification"
            formControlName="notification"
          />
          <label class="form-check-label" for="enable_notification">
            Enable Notification
          </label>
        </div>

        <div class="form-group row mt-2">
          <div class="col-sm-5">
            <button
              type="button"
              class="btn btn-success"
              (click)="populateData()"
            >
              Populate
            </button>
          </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-warning" (click)="clearData()">
              Clear
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
